extends layout

block content
    #mainContainer.container-fluid(ng-app="hydroDataAppModule" ng-controller="resChangeController")
        #titleHeader 
            h1 Hydroponic Garden Data
        button.btn.btn-default#backBtn(ng-click="changeView('');clearController();" ng-show="getLoc() !== '/'")
            i.glyphicon.glyphicon-arrow-left
        .container-fluid(ng-view)
